@import "./constants.scss";
@import "./blocks";
@import "./fonts.css";
@import "./elements.scss";
@import "./mobile-slider.scss";

body {
  font-family: 'Circe', sans-serif;
  font-size: 14px;
  min-width: $b-min-width;
}

.exness-jumbotron {
  background: url('../../assets/back_null_percents.jpg') center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 635px;

  & .controls {
    width: 210px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.46em;

    & a {
      text-decoration: none;
      align-self: flex-start;

      &.lang-toggler {
        color: $c-white;

        &:hover {
          color: darken($c-white, 20%);

          &::after {
            filter: invert(60%);
          }
        }

        &:active {
          color: darken($c-white, 40%);
        }

        &::after {
          content: "";
          display: flex;
          position: absolute;
          background: url("../../assets/Arrow@2x.png") center center no-repeat;
          background-size: cover;
          width: 24px;
          height: 24px;
          transform: rotate(90deg);
          transform-origin: right top;
          filter: invert(70%);
          margin-left: 55px;
          margin-top: 3px;
        }
      }
    }
  }

  & > div > .heading {
    color: $c-white;
    margin-top: 155px;

    & h1 {
      font-size: 66px;
      font-weight: 200;
      line-height: 1.1em;
      margin: 0 0 20px 0;
    }

    & p {
      color: $c-light-grey;
      font-weight: 200;
      font-size: 30px;
      margin: 0;
      line-height: 1.34em;
    }
  }

  & .button-block {
    margin-top: 30px;

    & button {
      width: 350px;
    }
  }
}

.advantages {
  background: $c-exness-yellow;
  height: 400px;
  box-sizing: border-box;
  position: relative;

  & p {
    margin: 0;

    &.descr {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.6em;
      margin-top: 30px;
    }

    &.text {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.2em;
    }

    &.rotate-90 {
      position: absolute;
      margin-top: 0;
      transform: rotate(270deg);
      transform-origin: right bottom;
      left: -170px;
    }
  }

  & .column {
    width: 50%;
    position: relative;
    align-self: center;
  }
}

.payment-systems {
  &.wrapper {
    padding-top: 39px;
  }

  & h3 {
    margin-top: 0;
  }

  & .systems-pics {
    max-width: 1046px;
    margin: 0 auto 60px auto;

    & + .systems-pics {
      margin-bottom: 0;
    }

    & > img {
      align-self: center;
    }
  }
}

.conversion-form {
  & .flex-block {
    & > div {
      margin: 0 16px 0 0;
      position: relative;
      align-self: flex-start;
      text-align: left;
      width: 33%;
      max-width: 330px;

      &:last-child {
        margin-right: 0;
      }

      & > .yellow-btn {
        max-width: 305px;
      }

      & > label {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 2em;
        margin-top: 16px;
        font-size: 11px;
        line-height: 146%;
        color: $c-light-grey;
      }
    }
  }

  & p.disclaimer {
    margin-top: 30px;
  }
}

footer {
  background: $c-footer-bg;
  color: $c-light-grey;

  & a {
    color: $c-light-grey;

    &:hover {
      color: lighten($c-light-grey, 10%);
    }

    &:active {
      color: darken($c-light-grey, 10%);
    }
  }

  & .soc-nets {
    border-bottom: 1px solid $c-light-grey;
    padding: 30px;

    & > a {
      display: block;
      margin: 0 16px;

      &:hover > img {
        filter: brightness(3);
      }

      &:active > img {
        filter: brightness(0.7);
      }
    }
  }

  & .footer-menu {
    font-size: 16px;
    padding-bottom: 30px;

    & > div {
      padding-right: 50px;

      &.no-heading {
        padding-top: 29px;
      }

      &.bold-links a {
        color: $c-white;

        &:hover {
          color: darken($c-white, 20%);
        }

        &:active {
          color: darken($c-white, 40%);
        }
      }
    }

    & h4 {
      margin: 0 0 5px 0;
      line-height: 1.5em;
      font-weight: 400;
      white-space: nowrap;

      & a {
        color: $c-white;

        &:hover {
          color: darken($c-white, 20%);
        }

        &:active {
          color: darken($c-white, 40%);
        }
      }
    }

    & ul {
      list-style: none;
      padding: 0;
      line-height: 1.5em;
      margin: 0;

      & li {
        padding-bottom: 5px;
      }
    }
  }

  & .footer-info {
    font-family: 'ArialMT', sans-serif;
    color: $c-grey;
    font-size: 11px;
    margin-top: 30px;

    & p {
      line-height: 1.46em;
      margin-bottom: 15px;
    }

    & .flex-block > img {
      align-self: center;
      margin-left: 30px;
      margin-bottom: 30px;
    }
  }
}
