.wrapper {
  padding: 48px 56px;
  margin: 0 auto;
  max-width: 1280px;
}

.flex-block {
  display: flex;

  &.fill-width {
    justify-content: space-between;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.align-right {
    flex-direction: row-reverse;
  }
}

.centered {
  text-align: center;
}
