// colors
$c-white: #fff;
$c-black: #000;
$c-grey: #616161;
$c-light-grey: #9b9b9b;
$c-light-grey-responsive: #d2d2d2;
$c-border-grey: #dedede;
$c-input-bg: #efefef;
$c-exness-yellow: rgb(250, 198, 9);
$c-footer-bg: rgb(35, 35, 35);
$c-link-blue: rgb(11, 97, 175);

// breakpoints
$b-toggle-header: 1150px;
$b-mobile: 960px;
$b-min-width: 480px;
