@import './constants.scss';

.no-desktop {
  display: none;
}

a {
  color: $c-link-blue;

  &:hover {
    color: lighten($c-link-blue, 10%);
  }

  &:active {
    color: darken($c-link-blue, 10%);
  }
}

a.yellow-link {
  color: $c-exness-yellow;

  &:hover {
    color: lighten($c-exness-yellow, 10%);
  }

  &:active {
    color: darken($c-exness-yellow, 10%);
  }
}

h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2em;
}

input,
.yellow-btn {
  color: $c-black;
  width: 100%;
  height: 72px;
  padding: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  line-height: 14px;
}

input {
  border: 1px solid $c-border-grey;
  background: $c-input-bg;

  &:hover {
    background: lighten($c-input-bg, 5%);
  }

  &:focus {
    background: $c-white;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
  }
}

.yellow-btn {
  background: $c-exness-yellow;
  position: relative;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  text-align: left;

  &:hover {
    background: lighten($c-exness-yellow, 10%);
  }

  &:active {
    background: darken($c-exness-yellow, 10%);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 30px;
    top: 24px;
    width: 24px;
    height: 24px;
    background: url('../../assets/Arrow@2x.png') no-repeat top left;
    background-size: 24px 24px;
  }
}
