@media screen and (max-width: $b-mobile) {
  .mobile-slider {
    display: block;
    position: relative;
    height: 100px;

    & > .controls {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      & > a {
        display: block;
        align-self: center;
        cursor: pointer;
        z-index: 2;
        transition: 0.2s;

        & > img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          transform: scale(1.3);
        }
      }
    }

    & > ul.content {
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        display: flex;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        &.active {
          visibility: visible;
        }
      }
    }
  }
}
