@import "./constants.scss";

@media screen and (max-width: $b-toggle-header) {
  .exness-jumbotron {
    & > div > .heading {
      & h1 {
        font-size: 40px;
      }

      & p {
        color: $c-light-grey-responsive;
        font-size: 24px;
        line-height: 1.34em;
      }
    }
  }
}

@media screen and (max-width: $b-mobile) {
  .yellow-btn {
    width: 350px;
  }

  .no-desktop {
    display: block;
  }

  .wrapper {
    padding: 24px;
  }

  .no-mobile {
    display: none;
  }

  .advantages {
    & .flex-block {
      display: block;
      text-align: center;

      & .column {
        width: 100%;
        margin-top: 40px;

        & .zero-percent {
          width: 200px;
        }
      }
    }

    & p.text {
      font-size: 22px;
      line-height: 1.46em;
    }
  }

  .payment-systems {
    h3 {
      font-size: 30px;
      line-height: 1.34em;
      font-weight: 600;
      padding: 0 50px;
    }
  }

  .conversion-form {
    & .flex-block {
      & > div {
        width: 100%;
      }
    }

    & p.disclaimer {
      font-size: 13px;
      text-align: center;
      line-break: auto;
      hyphens: auto;
      margin: 30px 0 60px 0;
    }
  }

  footer {
    & .soc-nets {
      padding: 30px 0 0 0;
      border-bottom: none;

      & > a {
        display: block;
        margin: 0 10px;
      }
    }

    & .footer-menu {
      border-bottom: 1px solid $c-grey;

      & > div {
        padding-right: 20px;

        & a {
          text-decoration: none;
        }
      }
    }

    & .footer-info {
      text-align: center;
    }
  }
}
